In [ ]:
#Write an SQL query to retrieve the names and email addresses of all employees from a table named "Employees".

In [ ]:
SELECT name, email
FROM Employees;

In [ ]:
#Write an SQL query to filter records from a table named "Customers" where the "City" column is 'New York'.

In [ ]:
SELECT *
FROM Customers
WHERE City = 'New York';

In [ ]:
#Write an SQL query to sort records in descending order based on the "DateOfBirth" column in a table named "Users".

In [ ]:
SELECT *
FROM Users
ORDER BY DateOfBirth DESC;

In [ ]:
#Write an SQL query to sort records in ascending order based on the "RegistrationDate" column in a table named "Users".

In [ ]:
SELECT *
FROM Users
ORDER BY RegistrationDate ASC;

In [ ]:
#Write an SQL query to find the employee with the highest salary from a table named "Employees" and display their name, position, and salary.

In [ ]:
SELECT name, position, salary
FROM Employees
WHERE salary = (
    SELECT MAX(salary)
    FROM Employees
);

In [ ]:
#. Write an SQL query to retrieve records from a table named "Customers" where the "Phone" column matches the pattern '+1-XXX-XXX-XXXX'.

In [ ]:
SELECT *
FROM Customers
WHERE Phone LIKE '+1-___-___-____';

In [ ]:
#Write an SQL query to retrieve the top 5 customers with the highest total purchase amount from a table named "Orders" and display their names and total purchase amounts.

In [ ]:
SELECT CustomerName, SUM(PurchaseAmount) AS TotalPurchaseAmount
FROM Orders
GROUP BY CustomerName
ORDER BY TotalPurchaseAmount DESC
LIMIT 5;

In [ ]:
#Write an SQL query to calculate the percentage of sales for each product category in a table named "Sales" and display the category name, total sales amount, and the percentage of total sales.

In [ ]:
SELECT CategoryName, SUM(SalesAmount) AS TotalSalesAmount, 
    (SUM(SalesAmount) * 100.0 / (SELECT SUM(SalesAmount) FROM Sales)) AS PercentageOfTotalSales
FROM Sales
GROUP BY CategoryName;

In [ ]:
#Write an SQL query to find the customers who have made the highest total purchases across all years from a table named "Orders" and display their names, email addresses, and the total purchase amount.

In [ ]:
SELECT CustomerName, Email, SUM(PurchaseAmount) AS TotalPurchaseAmount
FROM Orders
GROUP BY CustomerName, Email
HAVING SUM(PurchaseAmount) = (
    SELECT MAX(TotalPurchase)
    FROM (
        SELECT SUM(PurchaseAmount) AS TotalPurchase
        FROM Orders
        GROUP BY CustomerName, Email
    ) AS Subquery
);